.dashboard__container {
    display: flex;
    color: white;
}

.dashboard__navbar {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.dashboard__routes {
    border: 1px solid red;
    height: 100%;
    overflow: auto;
}