.sidebar {
    width: 300px;
    height: 100vh;
    background-color: grey;
    padding: 10px;
}

.sidebar__logout__btn {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: red;
    font-size: 20px;
    border: 5px solid red;
    box-shadow: 0 0 15px rgba(239, 68, 68, 0.7);
}

.sidebar__logout__btn:hover {
    color: rgb(219, 16, 16);
      box-shadow: 0 6px 20px rgba(220, 38, 38, 0.6) , 0 0 10px rgba(220, 38, 38, 0.5);
}